*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimProRegular.woff2")  format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GTWalsheimPro";
  src: url("../fonts/GTWalsheimProBold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  --color-backgroundbeige : #f2f2f2;
  --color-textwhite: #ffffff;
  --color-textgreen: #07181b;
  --color-textblack: #111;
  --figi-white: #ffffff;
  --figi-brown: #555555;    
  --figi-hightlightyellow: #c8ff00; 
  --figi-hightlight: #123236; 
  --figi-whitetoyellow: #c8ff00;   
  --figi-green: #123236;     
    

}

@media (prefers-color-scheme: dark) {

  :root {
    --color-backgroundbeige: #0c1213;
    --color-textwhite: #ffffff;
    --color-textgreen: #ffffff;
    --color-textblack: #f7f7f7;
    --figi-green: #07181b;    
    --figi-white: #141a1c;    
    --figi-brown: #dddddd;
    --figi-hightlight: #c8ff00; 
    --figi-whitetoyellow: #c8ff00; 
  }
  }

body {
  background-color: var(--color-backgroundbeige);
  margin: 0;
  font-family: "GTWalsheimPro";
}

h1, h2, h3, h4 {
  font-weight: 400;
  color:var(--color-textwhite);
}

/* Header*/
header {
  display: grid;
  grid-template-columns: auto 1fr;   
  grid-template-rows: auto auto; 

  position: sticky;
  top: -2em;
  z-index: 50;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Top Bar*/
header > section:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1 / -1;               
  background-color: var(--figi-green);
  display: grid;
  grid-template-columns: 1fr max-content;

  align-items: center;
  padding: 0.5em 1em;                                    
}

header > section:nth-of-type(1) > ul {
  grid-column: 2;                    
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  
  list-style: none;
  margin: 0;
}

header > section:nth-of-type(1) a {
  color: var(--color-textwhite);
  text-decoration: none;
  font-size: 0.9em;
  border-right: 0.1em solid #a6a6a6;
  padding-right: 1em;
}


/* Nav Bar*/
header > section:nth-of-type(2) {        
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;

  align-items: center;
  height: 4.1em;
  background-color: var(--figi-white);
}

header > section:nth-of-type(2) nav > ul {        
  list-style: none;
  display: grid;

  grid-auto-flow: column;
  column-gap: 1.3em;
  justify-content: end;

}

header > section:nth-of-type(2) nav a {
  text-decoration: none;
  color: var(--figi-brown);
  text-transform: uppercase;
  font-size: 0.9em;          
  border-right: 0.1em solid #a6a6a6;
  padding-right: 1em; 
}

header > section:nth-of-type(2) nav a:hover {
  color: var(--figi-hightlight);
}

/* Nav Bar Image*/
header a img {
  position: absolute;
  top:0;
  top:1.5em;
  left:0;
  left: 1em;
  height: 82px;
}

/* Nav Bar Hamburger*/
